@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
}

                <div>

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Film Details</h4>
                    </div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.ReleaseDate)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ReleaseDate)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Genre)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Genre)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Price)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Price)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Rating)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Rating)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Quantity)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Quantity)
                        </dd>
                    </dl>
                </div>
           