@model MvcMovie.Models.RentViewModel

@{
    ViewData["Title"] = "My Rents";
}

<h2>My Rent</h2>

<table id="rents" class="table display">
    <thead>
        <tr>
            <th>
                Movie Title
            </th>
            <th>
                Users Name
            </th>
            <th>
                Rent Date
            </th>
            <th>
                Return Date
            </th>
            <th>
                Exact Return Date
            </th>
            <th>
                Damaged
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.OrdersDetails)
        {
            <tr>
                <td>
                    @item.Movie.Title
                </td>
                <td>
                    @item.User.UserName
                </td>
                <td>
                    @item.RentDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @item.RentDate.ToString("dd-MM-yyyy")
                </td>
                <td>
                    @if (@item.ExactReturnDate != null)
                    {
                        @item.ExactReturnDate.Value.ToString("dd-MM-yyyy")
                    }
                    else
                    {<p>Not returned</p>}
                </td>
                <td>
                    @item.Damaged
                </td>
                <td>
                    <a href="javascript:void(0);" class="anchorEditOrder" data-id="@item.Id">Edit Order</a>
                </td>
            </tr>
        }

    </tbody>
</table>

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Views/Rent/AdminMyRent.js"></script>
}