@model MvcMovie.Models.RentViewModel

@{
    ViewData["Title"] = "My Rents";
}

<h2>My Rent</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                MovieID
            </th>
            <th>
                Rent Date
            </th>
            <th>
                Return Date
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.OrdersDetails)
        {
        <tr>
            <td>
                @item.Movie.Title
            </td>
            <td>
                @item.RentDate.ToString("dd-MM-yyyy")
            </td>
            <td>
                @item.RentDate.ToString("dd-MM-yyyy")
            </td>
        </tr>
                }
            
        </tbody>
    </table>

    @*@{
        var prevDisabled = !Model.OrdersDetails.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.OrdersDetails.HasNextPage ? "disabled" : "";
    }

    <a asp-action="MyRent"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.OrdersDetails.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>

    <a asp-action="MyRent"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-page="@(Model.OrdersDetails.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>*@
