@model MvcMovie.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>

<form asp-controller="Movies" asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table id="indexAdm" class="table display">
    <thead>
        <tr>
            <th>
                <a asp-action="Index">Title</a>
            </th>
            <th>
                <a asp-action="Index">Release Date</a>
            </th>
            <th>
                <a asp-action="Index">Genre</a>
            </th>
            <th>
                <a asp-action="Index">Price</a>
            </th>
            <th>
                Rating
            </th>
            <th>
                Quantity
            </th>
            <th>
                Quantity Maximum
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityMax)
                </td>
                <td>
                    <a href="javascript:void(0);" class="anchorEdit" data-id="@item.Id">Edit</a> |
                    <a href="javascript:void(0);" class="anchorDelete" data-id="@item.Id">Delete</a> |
                    <a href="javascript:void(0);" class="anchorDetail" data-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Views/Admin/AdminIndex.js"></script>
}